/* mobile.css */
body {
  /* background: orange; */
  font-size: 14px;
}

section h2 {
  font-size: 20px;
}

#toggle-btn {
  border-style: none;
  font-size: 24px;
  background: transparent;
  cursor: pointer;
}

.bi-list {
  /* font-size: 18px; */
}


.container {
  width: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
  /* outline: 1px solid #333; */
}

#toggle-btn {
  display: block;
}

#main-header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#main-header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--mobile-header-height);
}

#gnb ul li {
  display: block;
}

#gnb {
  position: absolute;
  left: 0;
  top: var(--mobile-header-height);
  background: fff;
  width: 100%;
  border-top: 1px solid #ccc;
  background: #ededed;
}

#gnb > ul {
  padding: 20px;
  font-size: 24px;
}

#gnb > ul > li {

}

#gnb > ul > li > a {
  display: block;
  padding: 10px;
}


/* 모바일 로고 크기 */
#main-header .container h1 img {
  display: block;
  width: 140px;
}

/* 토글 버튼 */
#main-header nav {
	display: none;
}

#main-header nav.on {
	display: block;
}