/* mobile.css */
body {
  /* background: orange; */
  font-size: 14px;
}

section h2 {
  font-size: 20px;
}

#toggle-btn {
  border-style: none;
  font-size: 24px;
  background: transparent;
  cursor: pointer;
}

.bi-list {
  /* font-size: 18px; */
}


.container {
  width: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
  /* outline: 1px solid #333; */
}

#toggle-btn {
  display: block;
}

#main-header {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#main-header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--mobile-header-height);
}

#gnb ul li {
  display: block;
}

#gnb {
  position: absolute;
  left: 0;
  top: var(--mobile-header-height);
  background: fff;
  width: 100%;
  border-top: 1px solid #ccc;
  background: #ededed;
}

#gnb > ul {
  padding: 20px;
  font-size: 24px;
}

#gnb > ul > li {

}

#gnb > ul > li > a {
  display: block;
  padding: 10px;
}


/* 모바일 로고 크기 */
#main-header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  height: var(--mobile-header-height);
  background: #fff;
}

#main-header .container h1 img {
  display: block;
  width: 140px;
}

/* 토글 버튼 */
#main-header nav {
	display: none;
}

#main-header nav.on {
	display: block;
}


/* 메인 비주얼 */
#main-visual {
  /* background: #FCEEAD; */
  width: 100%;
  height: calc(100vh - var(--mobile-header-height));
  box-sizing: content-box;
  padding-top: var(--mobile-header-height);  
}

#main-visual .container {
  display: block;
  /* background: #ccc; */
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#main-visual .title {
  outline: 1px solid #333;
  padding-top: 40px;
}

#main-visual .title h2 {
  /* outline: 1px solid red; */
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 55px;
  letter-spacing: 0.2em;  
}

#main-visual .title p {
  /* outline: 1px solid red; */
}

#main-visual .title p > span {
  display: block;
}

#main-visual .title p > span:first-child {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.3em;
}

#main-visual .title p > span:last-child {
  font-weight: 500;
  font-size: 38px;
}

#main-visual .img {
  outline: 1px solid #333;
}

#main-visual .img img {
  width: 75%;
}


#main-section1 {
	background: #fff;
	height: calc(100vh - var(--mobile-header-height));
}

#main-section1 .container {
	height: 100%;
  padding-left: 0;
  padding-right: 0;
  outline: 2px solid red;
}

#main-section1 .container .col {
	/* flex: 1; */
	/* outline: 1px solid #333; */
}

#main-section1 .container .col:first-child {
	display: flex;
	height: 50%;
	justify-content: center;
  align-items: center;
}

#main-section1 .container .col:first-child img {
	width: 71%;
	display: block;
}

#main-section1 .container .col:last-child {
	display: flex;
	height: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--main-color);
}

#main-section1 .container .col:last-child h2 {
	/* margin-bottom: 20px; */
	font-weight: 700;
	font-size: 20px;
	line-height: 29px;
}

#main-section1 .container .col:last-child .sub-title {
	font-size: 30px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* margin-bottom: 20px; */
}

#main-section1 .container .col:last-child p {
	/* margin-bottom: 40px; */
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#main-section1 .container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

#main-section1 .col:last-child .info > *{
  /* outline: 1px solid red; */
}

/* 메인섹션 2 -- 2 x 2 레이아웃 */
#main-section2 .container {
  width: 100%;
  height: calc(100vh - var(--mobile-header-height));
  padding: 0;
}

#main-section2 .container .col {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main-section2 .container .col h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

#main-section2 .container .col p {
  font-size: 10px;
  /* margin-bottom: 50px; */
}

/* 모든 col의 아이콘 이미지 표시 */


/* 첫번째 .col */
#main-section2 .container .col:first-child {
  background: #fec82f;
}
#main-section2 .container .col:first-child img {
  display: none;
}

/* #main-section2 .container .col:first-child h2{
  font-size: 0;
}
  
#main-section2 .container .col:first-child h2:before {
  content: "브랜드소개";
  font-size: 50px;
  display: block;
} */

/* 두번째 .col */
#main-section2 .container .col:nth-child(2) {
  background-image: url('../images/history-bg.jpg');
  color: #fff;
}

#main-section2 .container .col:nth-child(2) img {
  display: none;
}

/* 세번째 .col */
#main-section2 .container .col:nth-child(3) {
  background-image: url('../images/홍보영상.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25%;
  color: #fff;
  position: relative;
}

#main-section2 .container .col:nth-child(3) img {
  display: none;
}

/* 네번째 .col */
#main-section2 .container .col:nth-child(4) {
  background-image: url('../images/faq-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
#main-section2 .container .col:nth-child(4) img {
  display: none;
}
 /* 모달창 */
 .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
 }

 .modal.on {
  display: flex;
 }

 .modal .box {
  position: relative;
  /* border: 5px solid red; */
  /* 영상비율 16:9 */
  width: 100%;
  /* max-height: 450px; */
  aspect-ratio: 16 / 9;
 }

 .modal .box iframe {
  width: 100%;
  height: 100%;
 }

 .modal .btn-close {
  position: absolute;
  top: -50px;
  right: 20px;
  background-color: transparent;
  border-style: none;
 }

.bi-x-circle {
  font-size: 32px;
  color: #fff;
}